<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-lazy-init="true">
	<!-- enables annotation based configuration -->
	<context:annotation-config />

	<!-- scans for annotated classes in the com.company package -->
	<context:component-scan base-package="com.myfeike" />

	<!-- allows for ${} replacement in the spring xml configuration from the system.properties file on the classpath -->
	<context:property-placeholder
		location="classpath*:config/config.properties" />

</beans>


